<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Número do Processo</th>
      <th>Data de Criação do Processo</th>
      <th>Valor</th>
      <th>Escritório</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let processo of processos">
      <td>{{processo.numeroDoProcesso}}</td>
      <td>{{processo.dataDeCriacaoDoProcesso}}</td>
      <td>{{processo.valor}}</td>
      <td>{{processo.escritorio}}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!processos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum processo encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>