<app-nav></app-nav>
<meta http-equiv="refresh" content="10">

<div class="container">
  <h1>Processos</h1>
  <app-processos></app-processos>
</div>


<app-footer></app-footer>
<router-outlet></router-outlet>